[submodule "PolyChordLite"]
	path = polychordlite
	url = git@gitlab.science.ru.nl:gbucur/polychordlite.git
[submodule "inst/simpleini"]
	path = inst/simpleini
	url = https://github.com/brofield/simpleini
